.sidebar {
    height: 100%;
    background-color: var(--background-secondary);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--font-primary);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--font-primary);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0%;
}

.sidebar__selection {
    color: orange;
}

.sidebar__list-nobull {
    list-style-type: none;
}