.card {
    width: 164px;
    height: 210px;
    background: var(--background-primary);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column
}
.card__preview {
    width: 164px;
    height: 164px;
    border-radius: 12px 12px 0 0;
    background: var(--background-primary);
}

.card__previewDivider {
    width: 164px;
    height: 1px;
    left: 16px;
    background-color: var(--grey-2);
}

.card__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 12px;
    color: var(--font-primary);
}

@media screen and (min-width: 768px) {
    .card {
        width: 350px;
        height: 367px;
        background: var(--background-primary);
        box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
        border-radius: 12px;
    }
}