
.histogram {
    background: var(--background-primary);
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    padding: 16px 24px;
}

.histogram__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 39px;
}

.histogram__total {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.histogram__totalName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-primary);
    opacity: 0.8;
    max-width: 200px;
}

.histogram__totalAmount {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--font-primary);
    opacity: 0.8;
    margin: 0px;
}

.histogram__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--link-primary);
}

.histogram__chart {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: flex-end;
    height: 50px;
}
.histogram__chartColumn {
    background-color: var(--column-primary);
    flex-grow: 1;
}
