html, body {
    height: 100%;

}

.template {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;
    height: 100%;
    background-color: var(--background-secondary);
}

.template__main {
    display: grid;
    grid-template-columns: 229px 1fr;
    grid-column-gap: 30px;
    margin: 0 165px;
}

.template__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--grey-3);
}
