@import 'normalize.css';
@import '../fonts/fonts.css';

@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/page/page.css';
@import '../../components/preview/preview.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../components/sidebar/sidebar.css';
@import '../../components/content/content.css';
@import '../../components/page/template.css';
@import '../../05-lection3/03-calendar/calendar.css';
@import '../../06-lection4/01-avatar/avatar.css';
@import '../../assets/Icons/sprite.svg';
@import '../../05-lection3/02-modal/modal.css';
@import '../../components/Tabs/tabs.css';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-2: #5028c6;
  --blue: #374fc7;
  --blue-dark: #2342c0;
  --blue-2: #4263eb;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;
  --grey-6: #e5e5e5;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-hover: var(--blue-dark);
  --secondary: var(--purple);
  --secondary-hover: var(--purple-2);
  --font-primary: var(--black);
  --background-primary: var(--white);
  --background-secondary: var(--grey-5);
  --border-primary: var(--grey-3);
  --link-primary: var(--blue-2);
  --column-primary: var(--blue-2);
}

* {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
}
