.radiobutton {
  display: block;
  margin: 0 0 10px 0;
  cursor: pointer;
  position: relative;
}

.radiobutton__input {
  display: none;
}

.radiobutton__state {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radiobutton__control {
  width: 28px;
  height: 28px;
  background: var(--background-primary);
  border: 1px solid var(--grey-2);
  border-radius: 50%;
  position: relative;
}

.radiobutton__control_active {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: var(--background-primary);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  transform: translate(25%, 25%);
}

.radiobutton__input:checked ~ .radiobutton__state .radiobutton__control {
  border: 1px solid var(--link-primary);
}

.radiobutton__input:checked ~ .radiobutton__state .radiobutton__control_active {
  background-color: var(--link-primary);
}

.radiobutton__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.radiobutton__title_disabled {
  color: var(--grey-2);
}
.radiobutton__input:disabled ~ .radiobutton__state .radiobutton__control {
  background: var(--grey-2);
  border-color: var(--grey-2);
}
