

.calendar {
    background: var(--background-primary);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 36px;
    max-width: 304px;
}

.calendar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #334D6E;
    margin-bottom: 20px;
}

.calendar__wrapper {
    padding-bottom: 100%;
    background-color: var(--background-primary);
    position: relative;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #334D6E;
}
.calendar__item_day {
    color: #90A0B7;
}
.calendar__item_active {
    color: var(--background-primary);
    background-color: #4263EB;
}

.calendar__item_betweenActive {
    background-color: #A0B1F5;
}