.footer {
    height: 300px;
    background: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--grey-3);
}

.footer_backgroundColor {
    background: var(--background-secondary);
}

