.image {
    background-image: url(/Users/roman/htmlcss-20220616_marina-gichyan/06-lection4/02-background-image/public/forest_400.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (min-width: 768px) {
    .image {
        background-image: url(/Users/roman/htmlcss-20220616_marina-gichyan/06-lection4/02-background-image/public/forest_768.jpg);
    }
}

@media screen and (min-width: 1024px) {
    .image {
        background-image: url(/Users/roman/htmlcss-20220616_marina-gichyan/06-lection4/02-background-image/public/forest_1024.jpg);
    }
}

@media screen and (min-width: 2560px) {
    .image {
        background-image: url(/Users/roman/htmlcss-20220616_marina-gichyan/06-lection4/02-background-image/public/forest_2560.jpg);
    }
}